/* ----------------------------------------------------------------------------------------- 
____________________________________________________________________

"Screen" Style Sheet

@Project - Image
Description: Cisco
Author: Anusuya for Image Infotainment Limited
Version: 1.0
____________________________________________________________________

----------------------------------------------------------------------------------------- */

/* =reset & basics
----------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	outline:0;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
a img {
	border: 0;
	background: none;
}
img {
	vertical-align: middle;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */


table, td, th {
	vertical-align: middle;
}
/* =visuallyHide / accessibility */
.visuallyHidden {
	position: absolute;
	top: -500px;
	left: 0px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/* =clearfix (Alsett) */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* backslash hack hides from IE Mac \*/ * html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
} /* end backslash hack */

/* =text-selection */
::selection {
	color: #fff;
	background-color:#2A3FAA;
	text-shadow: none;
}
::-moz-selection {
	color: #fff;
	background-color:#0099FF;
	text-shadow: none;
} 
hr {
	margin:10px 0 0 0;
}
/* mozilla */
/* =defaults
----------------------------------------------------------------------------------------- */
/* =defaults
----------------------------------------------------------------------------------------- */
table.common, table.common td, table.common th {
	border:1px solid #d1d1d1;
	border-collapse:collapse;
	font-size:12px;
}
table.common tr.odd td{
	background:#f1f1f1;
}
.tbl-cont td {
	height:28px;
	margin:0px;
	padding:0 7px;
}
	
	
	
table.common th {
	background:#2f3946;
	height:32px;
	margin:0px;
	padding:0px;
	border:1px solid #2f3946;
	border-bottom:1px solid #d1d1d1;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:uppercase;
}
table.common11 {
	margin:0 auto;
}
table.common11 th {
	background:#2f3946;
	height:32px;
	margin:0px;
	padding:0px;
	border:1px solid #2f3946;
	border-bottom:1px solid #d1d1d1;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:uppercase;
}
table.common11 td a img {
	margin:0 2px;
}
span.updatlbl {
	background:url("../layout/info-label.png") no-repeat scroll 8px 3px #effafb;
	padding:3px 16px 5px 33px;
	border:1px solid #97a4af;
}
table.common th.alt {
	background-color: #fff;
	font-weight: bold;
	border-color: #808080;
	color: #5f5f5f;
}
table.common td.talignleft {
	text-align:left;
	color:#2f3946;
}
table.common1 {
	margin:auto;
	padding: 0 0 10px;
	border-collapse: collapse;
	line-height: 16px; /*margin-left:1px;*/
	margin-top:5px;
	min-width:65%;
}
/*table.common td, table.common th {border: 1px solid #808080;  /*text-align:center;*//* background-color:CaptionText; height:22px; } */
table.common1 th {
	background-color:orange;
	border-color:black;
	color:black;
	font-weight: bold;
	text-shadow: none;
	padding-left:5px;
}
table.common1 th.alt {
	background-color: #fff;
	font-weight: bold;
	border-color: #808080;
	color: #5f5f5f;
}
table.common1 td.talignleft {
	text-align:left;
	color:navy;
}
h4 {
	font-size:21px;
	color:#177bbb;
	line-height:25px;
	padding:10px 0;
	border-bottom:1px dashed #e7e9ec;
	margin:0 0 10px 0;
	font-weight:normal;
}
/* =layout
-----------------------------------------------------------------------------------------------*/

body {
	background:#f2f4f8;
	width:auto;
	height:auto;
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}
a {
	color:#000000;
}
.inner-cont {
	width:960px;
	height:auto;
	margin:0px auto;
	padding:0 20px;
}

/* Header
-----------------------------------------------------------------------------------------------*/

.header {	
	background:#fff;
	-webkit-box-shadow: 0 3px 0px rgba(231, 233, 236, 1);
	-moz-box-shadow:    0 3px 0px rgba(231, 233, 236, 1);
	box-shadow:         0 3px 0px rgba(231, 233, 236, 1);
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#e7e9ec');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#e7e9ec')";
}

.nav_roundcorner {
	background:#177bbb;
	width:auto;
	margin:0px;
	padding:0px;
}
.logo {
	width:75px;
	height:40px;
	margin-top:10px;
	float:left;
}
#logo {
	float: left;
	width: 160px;
	height: 86px;
	padding: 0 0 0 10px;
}
#logo a {
	display: block;
	width: 100%;
	height: 100%;
	background:url(../images/logo/image-infotainment-limited.png) no-repeat;
	text-indent: -9999px;
}
#administration {
	float: left;
	margin: 30px 0 0 25px;
	padding: 0 0 0 10px;
	font:14px/24px "FontinSansRegular", Arial;
	color:#666600;
}
.login_table {
	float: right;
	margin-right: 50px;
}

/* =Navigation Menu
----------------------------------------------------------------------------------------- */

#navMain .imglogo {
	padding:2px 0px 2px 15px;
	width:250px;
}
#navMain {
	height:45px;
	margin-top:0px;
	-moz-border-radius:0px 0px 0px 0px;
	-webkit-border-radius:0px 0px 0px 0px;
	border-radius:0px 0px 0px 0px;
	float:right;
}
#navMain li {
	position: relative;
	display: block;
	float: left;
	width:auto;
	padding:0px;
	margin:10px 0 0 0px;
}
#navMain li a {
	display: inline-block;
	float: left;
	line-height: 13px;
	height:16px;
	padding:10px 10px 8px 10px;
	text-decoration: none;
	border-bottom:1px solid transparent;
	font-size:12px;
	color:#FFFFFF;
	text-transform:uppercase;
}
#navMain li a:hover, #navMain li a:focus, #navMain li.current a, #navMain li:hover a {
	background:#1369a0;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px; 
	-moz-border-radius: 5px 5px 0px 0px;
}
#navMain li .arrowDown {
	display: inline-block;
	width: 7px;
	height: 14px;
	_height: 20px; /* have for IE6 */
	padding-left: 10px;
	background:url(../layout/th_installed-arrow-down.png) right center no-repeat;
	vertical-align:text-top;
	cursor: pointer;
}
/* 1st level drop down */
#navMain ul {
	display: none;
	position: absolute;
	clear: left;
	width: 210px;
	padding:0px 10px 10px 10px;
	top:35px;
	z-index: 11;
	height:auto !important;
	background:#fff;
	border:1px solid #1369a0;
	border-top:2px solid #1369a0;
	border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px; 
	-moz-border-radius:0px 0px 5px 5px;
}
#navMain li:hover ul, #navMain li:focus ul {
	top: 35px !important;
	display: block;
	color: #aeda00;
	margin:0;
	height:auto;
	overflow:hidden !important;	
	padding-bottom:10px !important;
}
#navMain ul li {
	float:none;
	border-bottom:1px dashed #d1d1d1;
	display:block;
	position:relative;
	margin:0px !important;
}
#navMain ul a, #navMain li.current ul a, #navMain li > ul li a {
	background:transparent !important;
	color:#177bbb;
	font-size:12px;
	padding:0px;
	margin:0px;
	line-height:30px;
	height:auto;
	display:block;
	border-radius: 0px;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px;
	text-transform:capitalize;
	float:none;
}
#navMain ul a:hover, #navMain ul a:focus, #navMain li.current ul a:hover, #navMain li.current ul a:focus { /*background:url(../layout/menubuu.JPG) repeat; */
	color:#f39c12 !important;
	font-weight:bold;
}
#navMain ul li.arrowRight {
	background: url(../images/layout/navMain-arrow-right.png) no-repeat right center;
}
/* 2nd level drop down*/
#navMain ul ul, #navMain li:hover ul ul, #navMain li:focus ul ul {
	display: none;
	position: absolute;
	width: 160px;
	top: -999em;
	z-index: 111;
	margin: 0;
	left: 199px;
}
#navMain ul li:hover ul, #navMain ul li:focus ul {
	display: block;
	top: 0;
	font-family:"FontinSansRegular", Arial;
	font-size:15px;
}
#navMain .setting li .last {
	top: 35px;
	display: block;
	color:#666666;
	margin-right:3px;
	right:-3px;
	width:159px;
}
.setting {
	float:right;
}
/*menu icon*/				
#changepass {
	font-family:"FontinSansRegular", Arial;
	font-size:13px;
}
.logout {
	font-family:"FontinSansRegular", Arial;
	font-size:13px;
}
.logout1 {
	width:13px;
	height:13px;
	float:right;
	margin:0px 0 0 2px
}
/* =Rotating Navigation Menu
----------------------------------------------------------------------------------------- */
#rotatingMenu {
	width: 750px;
	height: 250px;
	margin-right: auto;
	margin-left: auto;
}
#rotatingMenu div {
	height: 64px;
	width: 64px;
	position: absolute;
}
#rotatingMenu span {
	text-align: center;
	font-weight: bold;
	display: none;
}
#rotatingMenu a, #rotatingMenu2 a {
	color: #72a53a;
	text-decoration: none;
}
.rotating_icons {
	margin-top:120px;
	position:absolute;
	margin-left:100px;
}
/*shortcut*/
.header .menu {
	width:960px;
	margin:0px auto;
	position:relative;
	height:40px;
	padding:0 20px;
}
.menu ul {
	margin:0px;
	padding:0px;
}
.menu ul li {
	float:left;
}
.menu ul li a{
	line-height:40px;
	height:40px;
	margin:0px 20px 0 0;
	padding:0px;
	font-size:12px;
	color:#000000;
	display:inline-block;
	text-transform:uppercase;
	text-decoration:none;
}
.menu ul li a:hover{
	color:#177bbb;
}
.menu ul li a img{
	display:none;
	margin:0px;
	padding:0px;
}

.submitlog {
	border: 1px solid #3399FF;
	color:#FFFFFF;
	padding: 2px;
	background-color:#bababa;
	font:11px "Tahoma", sans-serif;
	font-weight:bold;
	background:url(../layout/loginnew.JPG) repeat;
	padding:2px;
	-moz-box-shadow:0 1px .5px black;
}
.submitlog:hover {
	background:#33CCFF;
}
.imglogo {
	padding:0;
	margin:0;
}
.imglogo a {
	padding:0;
	margin:0;
}
#loginlogo {
	margin-left:350;
	cursor:pointer;
	text-align:center;
}
/* =Middle Container
-----------------------------------------------------------------------------------------------*/
/*p.flip {
    cursor: pointer;
    margin:-36px 0 0 887px;
    position: absolute;
}*/
p.flip {
	cursor: pointer;
	position: absolute;
	color:#177bbb;
	line-height:40px;
	padding:0px;
	top:0px;
	right:20px;
	font-size:12px;
	text-transform:uppercase;
}
.notifyBg {
	height:25px;
	line-height:25px;
	margin:8px 0 0 5px;
	padding:0px;
	background:#f39c12;
	display:inline-block;
	font-size:12px;
	color:#FFFFFF;
	min-width:33px;
	text-align:center;
	float:right;
	border-radius:3px;
	-webkit-border-radius:3px; 
	-moz-border-radius:3px;
}
div.panel {
	background:#fff;
	border: 1px solid #e7e9ec;
	padding:0 10px 10px 10px;
	right:7px;
	top:40px;
	position: absolute;
	width:220px;
	z-index: 10;
}
div.panel a {
	/*background: #222;*/
    display: inline-block;
	padding: 5px 10px 6px;
	color: #177bbb;
	text-decoration: none;
	font-family:arial;
	position: relative;
	cursor: pointer;
	font-size:12px;
}
.panel table tr td{
	border-bottom:1px dashed #e7e9ec;
	padding:0px;
	height:32px;
	line-height:32px;
}
.panel table tr td a {
	padding:0px;
	height:32px;
	line-height:32px;
}
.panel table tr td img{
	display:none;
}
.panel table tr td .notifybg {
	height:25px;
	line-height:25px;
	margin:0px 0 0 5px;
	padding:0px;
	background:#f39c12 !important;
	display:inline-block;
	font-size:12px;
	color:#FFFFFF;
	min-width:33px;
	text-align:center;
	float:right;
	border-radius:3px !important;
	-webkit-border-radius:3px !important; 
	-moz-border-radius:3px !important;
	border:0px  !important;
}

.innerTable td {
	background:#fff !important;
}
.welcomecontent div {
	background-color: #F6F6F6 !important;
}
.content_wrapper {
	width:960px;
	margin:0px auto;
	min-height:750px;
	border:#e6e8eb 1px solid;
	overflow:hidden;
	background:#fff;
	padding:5px 20px;
}
.content_wrapper1 {
	width:958px;
	min-height:450px;
	border:#999999 1px solid;
	overflow:hidden;
	background:#e7e7e7;
}
.treecontent {
	float: left;
	width:230px;
}
.treecontent .filetree span.folder{
	background: none repeat scroll 0 0 #2f3946;
    color: #ffffff;
    font-weight: bold;
    height: 32px;
	padding:0px;
	line-height:32px;
	text-transform:uppercase;
	padding:0 0 0 10px;
}
.hitarea {
    width:32px;
	height:32px;
	float:right;
}
.treecontent .submenu {
	border:1px solid #e6e8eb;
	border-bottom:0px;
	border-top:0px;
}
.treecontent .submenu li{
	background:#fff;
	border-top:0px;
	border-bottom:1px solid #e6e8eb;
	padding:0px;
}
.treecontent .submenu li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:32px;
	height:32px;
	display:block;
	padding:0 0 0 10px;
	background:#f5f5f5;
}
.treecontent .submenu li a:hover, .treecontent .submenu li a.selected, .treecontent .submenu li a.hover{
	color:#177bbb;
	background:#ffffff;
	font-weight:bold;
}
.content_place {
	overflow: auto;
	float:right;
	width:720px;
	position:relative;
}
.content_place1 {
	min-height: 450px;
	position:relative;
}
.ui-tabs .ui-tabs-nav li{
	height:32px;
	line-height:32px;
	background:#f5f5f5;
	font-size:12px;
	color:#666666;
	border:1px solid #e6e8eb;
	margin:0 10px 0 0;
	border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0; 
	-moz-border-radius:5px 5px 0 0;
}
.ui-tabs .ui-tabs-nav li a{
	height:32px;
	line-height:32px;
	font-size:12px;
	color:#666666;
	padding:0px 10px !important;
	font-weight:bold;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	background:#177bbb;
	border:1px solid #177bbb;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{
	color:#ffffff;
	text-transform:uppercase;
}
.ui-tabs .ui-tabs-panel {
	padding:10px !important;
	border:1px solid #e6e8eb !important;
}


/* =Login
-----------------------------------------------------------------------------------------------*/
.login {
	padding: 10px;
	border: 5px solid #DDDDDD;
	font-size: 1.2em;
	padding: 10px;
	margin: auto;
	margin-top: 50px;
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.Mainlogin {
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 2px #000000;
	background: url("../../layout/logbg.JPG") repeat scroll 0 0 transparent;
	font-size: 1.2em;
	height: 160px;
	margin: 110px auto;
	width: 270px;
}
h2 {
	height:20px;
	background-color:#666666;
	border:1px solid #999;
	margin-left:-2px;
	margin-top:-2px;
	font-family:"FontinSansRegular", Arial;
	font-size: 15px;
	font-weight:normal;
	color:#FFFFFF;
	text-shadow: 1px 1px 1px #666666;
	filter: dropshadow(color=666666, offx=2, offy=2);
	padding:3px 0px 0px 3px;
}
h3 {
	font-family:Verdana, "MS Trebuchet", sans-serif;
	font-size: 13px;
	font-weight:normal;
	color:#FFFFFF;
	text-shadow: 1px 1px 1px #666666;
	background:url(../layout/h3bg.JPG) repeat;
	padding:5px;
	margin:5px;
}
.userlogin {
	font-family:"FontinSansRegularg", Arial;
	font-size: 18px;
	font-weight:normal;
	color:#fff;
}
/* =form fields
----------------------------------------------------------------------------------------- */
label {
	cursor: pointer;
}
.text:focus, textarea:focus, select:focus, .checkbox:focus, .radio:focus, .text:hover {
	border-color:orange;
}
.text {
	width: 120px;
}
.submit {
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid orange;
	color: #000000;
	padding: 2px;
	background-color:#bababa;
	font:11px "Tahoma", sans-serif;
	font-weight:bold;
	color:#000;
	background:url(../layout/btn4.JPG) repeat;
	padding:2px;
	-moz-box-shadow:0 .5px .4px black;
	cursor:pointer;
}
.submit:hover {
	background:#66FFFF;
	color:#000;
}
.TextBox {
	font-family: Arial, Tahoma, Verdana, Calibri;
	font-size: 12px;
	color: Black;
	height:18px;
	width: auto;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid grey;
}
.check {
	width:12px;
	height:14px;
	border:1px solid #e0e3cf;
	background-color:#ffffff;
}
.remember {
	color:#f7990d;
	font-family:"FontinSansRegular", Arial;
	font-size:11px;
	vertical-align:middle;
}
.error {
	color: #900;
	font-weight: bold;
}
input.datepicker {
	vertical-align: baseline;
}
img.ui-datepicker-trigger {
	padding: 3px 0 0 5px;
	margin-right: 5px;
}
#ui-datepicker-div {
	display: none;
}
/* =Footer
----------------------------------------------------------------------------------------- */
#footer {
	font-size:11px;
	color:#848484;
	height:25px;
	line-height:12px;
	padding:13px 0 0 0;
	text-align:center;
}
.Mainlogin1 {/*width:460px; height:290px; background-color:#ccc; margin-left:100px; margin-top:40px; border:1px solid #ccc; position:absolute; -moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;*/
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 2px #000000;
	background:url(../layout/loginbgnew.JPG) repeat scroll 0 0 transparent;
	font-size: 1.2em;
	margin: 110px auto;
	width: 250px;
	float: left;
	font-size: 1.2em;
	position:fixed;
	top: 10%;
	left: 38%;
	z-index:100;
}
.reset {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color:#92c55a;
	border:1px solid #009933;
	color:#000;
	background:url(../layout/refresh_icon.gif) no-repeat;
}
.reset:hover {
	border:1px solid #0066FF;
	-moz-box-shadow:0 .5px 1px blue;
}
.back {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	border: 1px solid #344047;
	color: #fff;
	background-color:#bababa;
	font:11px "Tahoma", sans-serif;
	font-weight:bold;
	background:url(../layout/btn4.JPG) repeat;
	-moz-box-shadow:0 .5px .4px black;
	float:right;
}
.back:hover {
	background:#a6afb9;
	color:#000;
}
.update {
	border:0px solid #009933;
	color:#000;
	background:url(../layout/update.png) center no-repeat;
}
.update:hover {
	border:1px solid #0066FF;
	-moz-box-shadow:0 .5px 1px blue;
}
.link {
	background:#0099FF;
}
.centresa {
	float:left;
	margin:4px;
}
h1 {
	font-family:Verdana, "MS Trebuchet", sans-serif;
	font-size: 13px;
	font-weight:normal;
	color:#FFFFFF;
	text-shadow: 1px 1px 1px #666666;
	background:url(../layout/h1new.JPG) no-repeat;
	padding:3px;
	height:28px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	font-weight:bold;
}
.studReportTab {
	padding:1px 2px;
}
.studReportTab table.studReport {
	background: none repeat scroll 0 0 #eeeeee !important;
	position: relative;
}
.studReport {
	background:#eee;
}
.studReport td {
	padding-left:10px;
	padding-top:10px;
}
.studReport:after, .studReport:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.studReport:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #eee;
	border-width: 8px;
	left: 7%;
	top:-15px;
}
.headingStudinfo {
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
	padding:8px 0 8px 8px;
	background:#e9e9e9;
}
.headingStudinfo:after, .headingStudinfo:before {
	top: 100%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: relative;
	pointer-events: none;
}
.headingStudinfo:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #176494;
	border-width:7px;
	right:46%;
	top:30px;
}
/*udhya stylesheet--------------------------------------------------*/
.student_reportinfo {
	text-align:left;
	line-height:24px;
	padding:6px 0px;
}
.student_reportinfo {
	border:solid 1px #f5f5f5;
}
.student_reporttext {
	text-align:left;
	line-height:24px;
	vertical-align:top !important;
	border-bottom:1px solid #f5f5f5;
	padding:3px 10px;
}
.student_reportresult {
	text-align:left;
	line-height:24px;
	color:maroon;
	border-bottom:1px solid #f5f5f5;
	padding:3px 10px;
}
.student_reportimg {
	vertical-align:top !important;
}
.person_img {
	float:right;
	padding-left:10px;
}
.person_img {
	float:right;
	padding-left:10px;
}
.notifyNumber {
	text-align:center;
	padding:3px 0px;
	color:#000;
	width:25px;
	display:block
}
.panel td {
	padding:5px 5px;
}
#drop, #leave, #assesment {
	border-bottom:1px dotted #e7e7e7;
}
/* Forms */

.free-forms {
}
.free-forms td {
	padding:4px 10px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.free-forms h4 {
	padding:0 0 10px 0;
	margin:0px;
}
.formlabel {
	width:250px
}
.free-forms input[type="text"] {
	height:18px;
	line-height:18px;
	border:1px solid #d1d1d1;
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-box-shadow: inset 0 3px 0px rgba(231, 233, 236, 1);
	-moz-box-shadow:    inset 0 3px 0px rgba(231, 233, 236, 1);
	box-shadow:         inset 0 3px 0px rgba(231, 233, 236, 1);
	width:300px;
	background:#fff;
	padding:5px;
}
.free-forms input[type="password"] {
	height:18px;
	line-height:18px;
	border:1px solid #d1d1d1;
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-box-shadow: inset 0 3px 0px rgba(231, 233, 236, 1);
	-moz-box-shadow:    inset 0 3px 0px rgba(231, 233, 236, 1);
	box-shadow:         inset 0 3px 0px rgba(231, 233, 236, 1);
	width:300px;
	background:#fff;
	padding:5px;
}
.free-forms textarea {
	width:306px;
	border:1px solid #b9b9b9;
}
.free-forms select {
	font-family:Arial, Helvetica, sans-serif;	
	height:28px;
	line-height:28px;
	border:1px solid #d1d1d1;
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-box-shadow: inset 0 3px 0px rgba(231, 233, 236, 1);
	-moz-box-shadow:    inset 0 3px 0px rgba(231, 233, 236, 1);
	box-shadow:         inset 0 3px 0px rgba(231, 233, 236, 1);
	width:310px;
	background:#fff;
	padding:0px 5px;
}
.autowidth {
	width:130px!important;
	border:1px solid #b9b9b9;
	padding:3px;
}
/* BUTTON Styles*/
.btnStyle1, .btnStyle2, .btnStyle3, .btnStyle4 {
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	width:auto;
	padding:0 15px;
	height:30px;
	border:0px;
	cursor:pointer;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.btnStyle1 {
	background:#7fc33c;
	border-bottom:3px solid #669c30;
}
.btnStyle1:hover {
	background:#669c30;
	border-bottom:3px solid #669c30;
}
.btnStyle2 {
    background:#35404d;
	border-bottom:3px solid #2c3b49;
}
.btnStyle2:hover {
    background:#2c3b49;
	border-bottom:3px solid #2c3b49;
}
.btnStyle3 {
	background-color:#16456c;
}
.btnStyle4 {
	background-color:#f2c200;
}
input[type="text"], textarea, select {
	font-family: 'robotoregular';
	font-size:13px;
	color:#565656
}
/*Date Grid */
.dataGrid {
}
.dataGrid table {
	border:0px solid #fff !important;
}
.dataGrid th {
	padding:0px 5px;
	height:30px;
	border-bottom:1px dotted #d4d4d4;
	text-align:left
}
.dataGrid td {
	padding:0px 7px;
	height:30px;
}
.small-fonts td {
	padding:0px 7px;
	height:30px;
	border-bottom:1px solid #dbdbde;
	border-left:1px solid #dbdbde;
	text-align:center;
	font-weight:normal !important;
}
.small-fonts th {
	color:#000;
	text-align:center;
	border-bottom:1px solid #f0f0f0;
	border-left:1px solid #f0f0f0;
	background:#c0c5c9;
}
.no-borders td {
	border:none !important
}
.no-borders {
	border:none !important
}
.gridHeader {
}
.gridRowAlternate {
	background:#f9f9f9;
}
.view {
	background:url(../images/view.png) center no-repeat;
	width:20px;
	height:20px;
	float:left;
	margin-right:15px;
}
.edit {
	background:url(../images/edit.png) center no-repeat;
	width:20px;
	height:20px;
	float:left;
	margin-right:15px;
}
.delete {
	background:url(../images/delete.png) center no-repeat;
	width:20px;
	height:20px;
	float:left;
}
.section {
	margin:10px 0px;
	clear:both
}
.tablelog {
	font-family:Tahoma;
	font-size:11px;
}
.content-links {
	position:absolute;
	right:0px;
	top:10px;
}
.content-links a {
	font-size:11px;
	font-family:Tahoma;
	margin-left:20px;
}
/* GRIDS*/

.gridSort {
	padding:10px;
	border:1px solid #e6e8eb;
	margin:0 0 10px 0;
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
}
.gridSort td {
	vertical-align:top;
	font-size:12px;
	font-family:arial;
	font-weight:bold;
	padding-top:5px;
}
.gridSort .sort-head {
	font-weight:bold;
}
.gridSort input[type="text"] {
	width:90px;
	border:1px solid #b9b9b9;
	padding:3px;
}
.gridSort select {
	height:28px;
	line-height:28px;
	border:1px solid #d1d1d1;
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-box-shadow: inset 0 3px 0px rgba(231, 233, 236, 1);
	-moz-box-shadow:    inset 0 3px 0px rgba(231, 233, 236, 1);
	box-shadow:         inset 0 3px 0px rgba(231, 233, 236, 1);
	width:180px;
	background:#fff;
	padding:5px;
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.gridSort input.search {
	background:#7fc33c;
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	width:100px;
	height:27px;
	border:0px;
	border-bottom:3px solid #669c30;
	cursor:pointer;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:20px;
}
.gridSort input.search:hover {
	border-bottom:0px;
}
.dataGrid {
	padding:0px !important;
}
.dataGrid table {
	width:100%;
}
.dataGrid table th{
	background:#2f3946;
	height:32px;
	margin:0px;
	padding:0px;
	border:1px solid #2f3946 !important;
	border-bottom:1px solid #d1d1d1 !important;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:uppercase;
}
.dataGrid table, .dataGrid table tr td, .dataGrid table tr th {
	border:1px solid #d1d1d1;
	border-collapse:collapse;
	font-size:12px;
}
.dataGrid table tr.odd td{
	background:#f1f1f1;
}
.dataGrid table td {
	height:28px;
	margin:0px;
	padding:0 7px;
}
.pagination {
	clear:both;
	float:right;
	padding:10px 0px;
}
.pagination a {
	padding:3px 8px;
	margin:3px;
	background:#FFFFFF;
	border:1px solid #e4e4e4;
	color:#333333
}
.pagination .cpage {
	background:#e4e4e4;
}
.small-fonts {
	font-family:Tahoma;
	font-size:11px;
}
.center-text td {
	text-align:center !important;
}
.input-small {
	width:150px !important
}

.blue-note {
	background:#d9edf7;
	line-height:22px;
	height:22px;
	padding:5px 10px;
	border:1px solid #428bca;
	display:block;
	font-size:12px;
	color:#428bca;
	text-decoration:none;
}
.red-note {
	background:#f2dede;
	line-height:22px;
	height:22px;
	padding:5px 10px;
	border:1px solid #CC0000;
	display:block;
	font-size:12px;
	color:#CC0000;
	text-decoration:none;
}



/*Updates - 09-08-2014
------------------------------------------------------------------------------------------*/

.tbl-cont, .tbl-cont td, .tbl-cont th {
	border:1px solid #d1d1d1;
	border-collapse:collapse;
	font-size:12px;
}
.tbl-cont tr.odd td{
	background:#f1f1f1;
}
.tbl-cont th {
	background:#2f3946;
	height:32px;
	margin:0px;
	padding:0px;
	border:1px solid #2f3946;
	border-bottom:1px solid #d1d1d1;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:uppercase;
}
.tbl-cont td {
	height:28px;
	margin:0px;
	padding:0 7px;
}
.green-note {
	background:#e0f2cb;
	line-height:22px;
	height:22px;
	padding:5px 10px;
	border:1px solid #669c30;
	display:block;
	font-size:12px;
	color:#669c30;
	text-decoration:none;
}
.yellow-note {
	background:#fff4cc;
	line-height:22px;
	height:22px;
	padding:5px 10px;
	border:1px solid #fca100;
	display:block;
	font-size:12px;
	color:#fca100;
	text-decoration:none;
}
.grey-note {
	background:#efefef;
	line-height:22px;
	height:22px;
	padding:5px 10px;
	border:1px solid #666666;
	display:block;
	font-size:12px;
	color:#666666;
	text-decoration:none;
}
table td > table {
	background:#fff !important;
	height:auto;
	padding:7px;
}
table td > table td {
	background:transparent !important;
	padding:0px;
	border:0px;
}
table td > table td a{
	background:#177bbb;
	width:auto;
	line-height:18px;
	padding:4px 10px 3px 10px;
	margin-right:5px;
	color:#FFFFFF;
	text-align:center;
	display:block;
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-bottom:3px solid #146aa1;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
}
table td > table td a:hover{
	background:#146aa1;
	padding:5px 10px;
	border:0px;
}
table td > table td span {
	background:#7fc33c;
	border-bottom:3px solid #669c30;
	width:auto;
	line-height:18px;
	margin-right:5px;
	color:#FFFFFF;
	text-align:center;
	display:block;
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	padding:4px 10px 3px 10px;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
}

.login-cont .header {
	background:#177bbb !important;
}

.login-cont .logo2 {
	width:160px;
	margin:0px;
	padding:0px;
	float:left;
}
.login-cont .login_table {
	width:500px;
	height:auto;
	margin:0px;
	padding:0px;
	float:right;
}
.login-cont .login_table, .login-cont .login_table td {	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
}

.login-cont .login_table td .TextBox{
	height:15px;
	line-height:15px;
	border:1px solid #003366;
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-box-shadow: inset 0 3px 0px rgba(231, 233, 236, 1);
	-moz-box-shadow:    inset 0 3px 0px rgba(231, 233, 236, 1);
	box-shadow:         inset 0 3px 0px rgba(231, 233, 236, 1);
	width:180px;
	background:#fff;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.login-cont .login_table td .submitlog {
    border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	width:auto;
	padding:0 25px;
	height:30px;
	border:0px;
	cursor:pointer;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	background:#7fc33c;
	border-bottom:3px solid #669c30;
	display:inline-block;
}
.login-cont .login_table td .submitlog:hover {
	background:#669c30;
}
